.vs/
SS_OpenCV/bin/Debug/SS_OpenCV.exe
SS_OpenCV/bin/Debug/SS_OpenCV.pdb
SS_OpenCV/bin/Debug/SS_files.csv
SS_OpenCV/obj/Debug/SS_OpenCV.csproj.FileListAbsolute.txt
SS_OpenCV/obj/Debug/SS_OpenCV.exe
SS_OpenCV/obj/Debug/SS_OpenCV.pdb
*.cache